.wrapper {
    width: 500px;
    margin: 60px auto;
    text-align: center;
}

    .wrapper table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        font: 30px/1.25 sans-serif, arial;
    }
    .wrapper td {
        padding: 5px;
        border: 1px solid black;
        border-collapse: collapse;
    }
